body{
    background-color: transparent;
}

::-webkit-scrollbar { 
    display: none; 
}

.slideButton{
    height: 4em;
    width: 4ch;
}

strong.u{
    text-decoration: underline;
}

#preview {
    bottom: 275px;
}

#liveView {
    bottom: 20px;
}

.menuBox {
    display: inline-flex;
}

.slide {
    color: cyan;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-family: 'Geo Sans Light'; 
    text-shadow:   -3px 0px 8px rgba(0, 0, 0, 1), 
                    0px -3px 8px rgba(0, 0, 0, 1), 
                    0px 3px 8px rgba(0, 0, 0, 1),
                    3px 0px 8px rgba(0, 0, 0, 1); 
    display: flexbox ;
    /*visibility: hidden;*/
    /*border: 4px double rgba(0, 0, 0, 0.5) red;*/
    border-radius: 20px;
}

.text sup {
    font-size: 60%;
    padding-right: 0.25ch;
    color: orange;
}

.text {
    font-size: 100%;
    display: inline;
    color: cyan;
    text-align: justify;
}

.tag {
    margin-right: 2ch;
    display: block;
    font-size: 75%;
    text-align: right; 
    color: orange;
}
