body{
    background-color: transparent;
}

::-webkit-scrollbar { 
    display: none; 
}

.slideButton{
    background-color: lightgoldenrodyellow;
    height: 2em;
    width: 5ch;
}

strong {
    color: blue;
    text-shadow:   -3px 0px 4px yellow, 
    0px -3px 4px yellow, 
    0px 3px 4px yellow,
    3px 0px 4px yellow; 
}

span.text:hover{
    color: cyan;
    text-shadow:   -3px 0px 4px darkblue, 
    0px -3px 4px darkblue, 
    0px 3px 4px darkblue,
    3px 0px 4px darkblue; 
}

strong.u{
    text-decoration: underline;
}

#preview {
    bottom: 275px;
}

#liveView {
    bottom: 20px;
}

.container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.slidePreView {
    background-color: rgba(128, 128, 128, 0.733);
    color: darkviolet;
    font-weight: bold;
    height: 2em;
    width: 5ch;
}

.slideLiveView {
    border-color: lime;
    background-color: lime;
    height: 2em;
    width: 5ch;
}

.menuBox {
    display: inline-flex;
}

.slide {
    color: cyan;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-family: 'Geo Sans Light'; 
    text-shadow:   -3px 0px 8px rgba(0, 0, 0, 1), 
                    0px -3px 8px rgba(0, 0, 0, 1), 
                    0px 3px 8px rgba(0, 0, 0, 1),
                    3px 0px 8px rgba(0, 0, 0, 1); 
    display: flexbox ;
    /*visibility: hidden;*/
    /*border: 4px double rgba(0, 0, 0, 0.5) red;*/
    border-radius: 20px;
}

.text-point {
    display: block;
    text-indent: 5ch;
    text-align: left;
    color: cyan;
}

.text-heading{
    text-align: center; 
    color: orange;
    display: block;
}

.text sup {
    font-size: 60%;
    padding-right: 0.25ch;
    color: orange;
}

.text {
    font-size: 100%;
    display: inline;
    color: cyan;
    text-align: justify;
}

.text-tag {
    margin-right: 2ch;
    display: block;
    font-size: 60%;
    margin-top: -0.5em;
    text-align: right; 
    color: orange;
}
