::-webkit-scrollbar { 
    display: none; 
}

#preview {
    /*bottom: 325px;*/
}

#liveView {
    /*top: 325px;*/
}

.sl {
    color: cyan;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    /*top: 75px;*/
    /*bottom: 25px;*/
    /*margin: 10px;*/
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-family: 'Geo Sans Light'; 
    text-shadow:   -3px 0px 8px rgba(0, 0, 0, 1), 
                    0px -3px 8px rgba(0, 0, 0, 1), 
                    0px 3px 8px rgba(0, 0, 0, 1),
                    3px 0px 8px rgba(0, 0, 0, 1); 
    display: block;
    /*visibility: hidden;*/
    /*border: 4px double rgba(0, 0, 0, 0.5) red;*/
    border-radius: 20px;
}

.text sup {
    font-size: 60%;
    color: orange;
}

.text {
    font-size: 100%;
    display: block;
    color: cyan;
    text-align: center;
}

.tag {
    margin-right: 2ch;
    display: block;
    font-size: 75%;
    text-align: right; 
    color: orange;
}
